<html>
  <head>
    <title>Email Confirmation</title>
  </head>
  <body>
    <p>Hello {{name}},</p>
    <p>Thank you for registering. Please confirm your email by clicking on the
      following link:</p>
    <p><a href='{{confirmationUrl}}'>Confirm Email</a></p>
    <p>If you did not register for this account, please ignore this email.</p>
  </body>
</html>
